body {
    background-color: gray;
}

.container {
    background-color: white;
    padding: 30px;
    margin: 40px;
}

.menu {
    list-style: none;
    padding: 0px;
    margin: 0px;

}

.menu li {
    display: inline;
    background-color: aqua;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu li:hover {
    background-color: rgb(161, 225, 225);
}

a {
    text-decoration: none;
}